<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    
  <title>Ogani</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
</head>
<body>
  <div id="TheHeader"></div>   
  <div id="Hero"></div>   
  <section class="categories">
    <div class="container">
        <div class="row">
            <div class="swiper mySwiper"> 
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="cate in ListMeat">
                        <div class="img"><img :src = "cate.imgsrc" width = "380" height = "300" /></div>
                        <h5 class="title"> {{ cate.title }}</h5>
                    </div> 
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section class="featured spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>Featured Product</h2>
              </div>
              <div class="featured__controls">
                  <ul>
                      <li class="active" data-filter="*">All</li>
                      <li data-filter=".oranges">Oranges</li>
                      <li data-filter=".fresh-meat">Fresh Meat</li>
                      <li data-filter=".vegetables">Vegetables</li>
                      <li data-filter=".fastfood">Fastfood</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row featured__filter" id="categories">
        <div id="cuqua" class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges" v-for="feature in ListMeat">
          <div class="featured__item">
              <div class="featured__item__pic set-bg">
                <div class="img"><img :src = "feature.imgsrc" width = "300" height = "250" /></div>
                  <ul class="featured__item__pic__hover">
                      <li><a href="#"><i class="fa fa-heart"></i></a></li>
                      <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                      <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
              </div>
              <div class="featured__item__text">
                  <h6><a href="#">{{ feature.title }}</a></h6>
                  <h5>{{ feature.price }}</h5>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="banner">
  <div class="container">
      <div class="row banner-item">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="banner__pic-1">
                  <img src="../assets/banner/banner-1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="banner__pic-2">
                  <img src="../assets/banner/banner-2.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
<section class="latest-product spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="latest-product__text">
                  <h4>Latest Products</h4>
                  <div class="latest-product__slider owl-carousel">
                      <div class="latest-prdouct__slider__list latestPrdouct">
                         <div class="latest-prdouct__slider__list--item">
                          <a href="#" class="latest-product__item" id="spinach">
                                <div class="latest-product__item__pic">
                                  <img :src = "imgsrc" width = "300" height = "250" />
                                </div>
                                <div class="latest-product__item__text">
                                  <h6><a href="#">{{ title }}</a></h6>
                                    <span>{{ price }}</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__list--item">
                          <a href="#" class="latest-product__item" id="bell-pepper">
                              <div class="latest-product__item__pic">
                                <img :src = "imgsrc" width = "300" height = "250" />
                              </div>
                              <div class="latest-product__item__text">
                                 <h6><a href="#">{{ title }}</a></h6>
                                  <span>{{ price }}</span>
                              </div>
                          </a>
                          </div>
                          <div class="latest-prdouct__slider__list--item">
                          <a href="#" class="latest-product__item" id="fried-chicken">
                              <div class="latest-product__item__pic">
                                <img :src = "imgsrc" width = "300" height = "250" />
                              </div>
                              <div class="latest-product__item__text">
                                 <h6><a href="#">{{ title }}</a></h6>
                                  <span>{{ price }}</span>
                              </div>
                          </a>
                          </div>
                          <div class="latest-prdouct__slider__list--item">
                            <a href="#" class="latest-product__item" id="spinach">
                                  <div class="latest-product__item__pic">
                                    <img :src = "imgsrc" width = "300" height = "250" />
                                  </div>
                                  <div class="latest-product__item__text">
                                    <a href="#"><h6>{{ title }}</h6></a>
                                      <span>{{ price }}</span>
                                  </div>
                              </a>
                          </div>
                          <div class="latest-prdouct__slider__list--item">
                            <a href="#" class="latest-product__item" id="bell-pepper">
                                <div class="latest-product__item__pic">
                                  <img :src = "imgsrc" width = "300" height = "250" />
                                </div>
                                <div class="latest-product__item__text">
                                   <h6><a href="#">{{ title }}</a></h6>
                                    <span>{{ price }}</span>
                                </div>
                            </a>
                            </div>
                            <div class="latest-prdouct__slider__list--item">
                            <a href="#" class="latest-product__item" id="fried-chicken">
                                <div class="latest-product__item__pic">
                                  <img :src = "imgsrc" width = "300" height = "250" />
                                </div>
                                <div class="latest-product__item__text">
                                   <h6><a href="#">{{ title }}</a></h6>
                                    <span>{{ price }}</span>
                                </div>
                            </a>
                            </div>
                         
                      </div>
                      <div class="owl-nav">
                        <button type="button" role="presentation" class="latestPrdouct-owl-prev">
                          <span class="fa fa-angle-left">
                            <span>
                            </span>
                          </span>
                        </button>
                        <button type="button" role="presentation" class="latestPrdouct-owl-next">
                          <span class="fa fa-angle-right">
                            <span>
                            </span>
                          </span>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="latest-product__text">
                  <h4>Top Rated Products</h4>
                  <div class="latest-product__slider owl-carousel">
                      <div class="latest-prdouct__slider__list TopRateProduct">
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-1.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-2.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-3.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-1.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-2.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-3.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                            </a>
                      </div>
                      <div class="owl-nav">
                        <button type="button" role="presentation" class="TopRateProduct-owl-prev">
                          <span class="fa fa-angle-left">
                            <span>
                            </span>
                          </span>
                        </button>
                        <button type="button" role="presentation" class="TopRateProduct-owl-next">
                          <span class="fa fa-angle-right">
                            <span>
                            </span>
                          </span>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="latest-product__text">
                  <h4>Review Products</h4>
                  <div class="latest-product__slider owl-carousel">
                      <div class="latest-prdouct__slider__list ReviewProduct">
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-1.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-2.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-3.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-1.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-2.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                          <a href="#" class="latest-product__item">
                              <div class="latest-product__item__pic">
                                  <img src="img/latest-product/lp-3.jpg" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                  <h6>Crab Pool Security</h6>
                                  <span>$30.00</span>
                              </div>
                          </a>
                      </div>
                      <div class="owl-nav">
                        <button type="button" role="presentation" class="ReviewProduct-owl-prev">
                          <span class="fa fa-angle-left">
                            <span>
                            </span>
                          </span>
                        </button>
                        <button type="button" role="presentation" class="ReviewProduct-owl-next">
                          <span class="fa fa-angle-right">
                            <span>
                            </span>
                          </span>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row"  id="blogs">
            <div class="col-lg-4 col-md-4 col-sm-6" v-for="blog in blogList" >
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img :src="blog.imgsrc" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> {{ blog.date }}</li>
                            <li><i class="fa fa-comment-o"></i> {{ blog.commentCount }}</li>
                        </ul>
                        <h5><a href="#">{{ blog.title }}</a></h5>
                        <p>{{ blog.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="TheFooter"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</body>
</html>